{% extends 'base.html.twig' %}

{% block title 'Groupes et artistes' %}

{% block body %}

<div class="container">
    <div class="mt-4 mb-5 text-center">
        <h1>Groupes & artistes</h1>
    </div>

    <div class="row col-xs-4 col-md-4 col-lg-3">
        {{ form_start(form) }}
            <form>
                <div class="col">   
                    {{ form_row(form.artistName) }}
                    {{ form_row(form.musicStyle) }}
                </div>
                <div class="col">
                    <button type="submit" class="btn btn-primary btn-sm">Chercher</button>
                </div>
            </form>
        {{ form_end(form) }}
    </div>

    <div class="row flex">
        {% for band in bands %}
        <div class="my-2 col-xs-4 col-md-4 col-lg-3">
            <div class="card">
                <div class="card-body">
                    <div class="card-title">
                        <p>{{ band.artist }}</p>
                    </div>
                    <div class="card-text">
                        {# mettre les styles dans des badges de couleur #}
                        <p>style</p>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="pagination">
        {{ knp_pagination_render(bands) }}
    </div>
</div>

{% endblock %}
