{{ form_start(form) }}
<div class="row">
    <div class="col-md-5">{{ form_row(form.music_style) }}</div>
    {#% for label, value in field_choices(form.styles) %}
                <option value="{{ value }}">{{ label }}</option>
            {% endfor %#}
    <div class="col-md-4">{{ form_widget(form) }}</div>
</div>

<button class="btn btn-primary btn-sm">{{ button|default('Enregistrer') }}</button>
{{ form_end(form) }}